= javascript_pack_tag 'index'
.main-show
  .left-column-show
    .default#comment-form
      .question
        .detail
          .title 
            = @question.title
            %span 回答受付中
          .user-profile
            .user-info
              = link_to @question.user.nickname, "#"
              %span= @question.user.gender_i18n
          .tag
            = link_to "# #{@question.category.name}", "#", class: "link-tag"
          .body
            = simple_format(@question.question)
            %span.date= @question.created_at.strftime('%Y年%m月%d日 %H時%M分')
      - if @question.comments
        %comment-list{":question-id" => @question.id }
      - if user_signed_in? && current_user.philosopher
        %comment-form{":question-id" => @question.id }