= javascript_pack_tag 'index'
.main-show
  .left-column-show
    .default
      .question
        .detail
          .title 
            = @question.title
            %span 回答受付中
          .user-profile
            .user-info
              = link_to @question.user.nickname, "#"
              %span= @question.user.gender_i18n
          .tag
            = link_to "# #{@question.category.name}", "#", class: "link-tag"
          .body
            = simple_format(@question.question)
            %span.date= @question.created_at.strftime('%Y年%m月%d日 %H時%M分')
      - if @question.comments
        .answers
          .number= "哲学者からの回答 #{@question.comments.count}件"
          - @question.comments.includes(:user).each do |comment|
            .box
              %h2.title= comment.title
              .answer-box
                = simple_format(comment.comment)
                %span.date= comment.created_at.strftime('%Y年%m月%d日 %H時%M分')
                - if user_signed_in? && !current_user.philosopher
                  .flexbox#like
                    %like-button{":question-id" => "#{@question.id}", ":comment-id" => "#{comment.id}", ":user-id" => "#{current_user.id}"}
                %hr.line
                .philosophia
                  = link_to "#" do
                    = image_tag comment.user.image
                  .profile
                    = link_to comment.user.nickname, "#"
                    - if comment.user.profile
                      .introduce
                        = comment.user.profile.content
      - if user_signed_in? && current_user.philosopher
        .comment
          .comment-container
            .triangle
            = form_with model: [@question,@comment], local: true do |f|
              .text-field
                = f.text_field :title, placeholder: "タイトルを入力してください"
              .text-field
                = f.text_area :comment, rows: 10, placeholder: "回答を入力してください"
              .comment-btn
                = f.submit "回答する"