.profile-content
  .profile-user
    - if current_user.philosopher
      .user-flexbox
        %h2
          = current_user.nickname
          %span.sub-text さん
        .q-num 
          質問回答数
          %span.num= current_user.comments.count
          件
      .row
        .user-profile
          性別/年代
        %span= current_user.gender_i18n
      .row
        .user-profile
          プロフィール
        - if current_user.profile
          %span= @profile.content
      .row
        .user-profile
          所属研究所
        - if current_user.profile
          %span= @profile.philosopher_profile.affiliation
      .row
        .user-profile
          研究結果
        - if current_user.profile
          %span= @profile.philosopher_profile.research
      = link_to edit_user_path do
        %button アカウントを編集する
    - else
      .user-flexbox
        %h2
          = current_user.nickname
          %span.sub-text さん
        .q-num 
          回答あり質問
          %span.num= current_user.questions.reject{|question| !question.comments.present?}.count
          件
      .row
        .user-profile
          性別/年代
        %span= current_user.gender_i18n
      .row
        .user-profile
          プロフィール
        - if current_user.profile
          %span= @profile.content
      .row
        .user-profile
          煩悩
        - if current_user.profile
          %span= @profile.general_profile.kleshas
      = link_to edit_user_path do
        %button アカウントを編集する
    - if !current_user.philosopher
      - if !current_user.card
        = link_to new_card_path do
          %button オンライン質問し放題プランに変更する
      - else
        = link_to card_path(current_user.card.id) do
          %button カード情報をみる