%header
  .header-value
    .logo-section
      = link_to "philosophia", root_path, class:"brand-logo"
    .user-section
      %ul.sign-in
        - if user_signed_in?
          %li
            = link_to "問を立てる", new_question_path
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "ログイン", new_user_session_path
          %li
            = link_to "新規会員登録", new_user_registration_path
