!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PortfolioApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %script{:src => "https://js.pay.jp/", :type=>"text/javascript"}
  %body
    = render 'layouts/navigation'
    = yield
    %footer.footer
      .inner
        .about-text
          %h1 philosophia
          .wrapper
            .text
              %p
                philosophiaは、人生の悩みについて哲学者と一緒に対話を通じて考えていただくサービスです。
                %br
                人生にはたくさんのできごとがあります。
                %br
                受験、就職、転職、結婚、出産、、、
                %br
                日常生活のなかにもたくさんあります。
                %br
                人生はたくさんの「できごと」というピースが積み重なってできています。
                %br
                そして、今もなお、みなさんのピースは積み上がっているのです。
                %br
                そんな中で、皆さんはたくさんの悩みをかかえていませんか。
                %br
                僕はかかえてきましたし、今もかかえていますし、これからもかかえるでしょう。
                %br
                その悩みを誰に相談していますか。
                %br
                友達ですか、親族ですか、大切な人ですか。
                %br
                相談する相手は、哲学者であってもいいと思います。
                %br
                哲学は、知を愛することです。
                %br
                知を愛しつづた人たちが考えてきた人間の叡智を武器に、みなさんの悩みを一緒に考えていきましょう。
                %br
                おまちしております。
            .image
              = image_tag asset_path('aihiman.jpeg')
        .footer-nav
          %ul
            %li
              = link_to "philosophiaとは", "#"
            %li
              = link_to "哲学者募集中", "#"
            %li
              = link_to "プライバシーポリシー", "#"
            %li
              = link_to "一般向け利用規約", "#"
            %li
              = link_to "哲学者会員向け利用規約", "#"
            %li
              = link_to "特定商取引法に基づく表記", "#"