.container-signup
  .container-box
    .one-column
      .login-container
        .left-column
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            .signup-form-fields
              .categories
                %h1.title 会員情報を編集する
                .signup-with-email
                  .control-group
                    = f.label :nickname, class: "control-label" do
                      %span.text ニックネーム
                      %br
                      (20文字以内)
                    .controls
                      = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
                  -if flash[:notice] && flash[:notice]["nickname"]
                    %span.error ニックネームを入力してください
                  .control-group
                    = f.label :gender, class: "control-label" do
                      %span.text 性別
                    .controls
                      = f.collection_radio_buttons :gender, User.genders_i18n, :first , :first
                  -if flash[:notice] && flash[:notice]["gender"]
                    %span.error 性別を入力してください
                  = f.fields_for :user_profile do |p|
                    .control-group
                      = p.label :profile, class: "control-label" do
                        %span.text プロフィール
                      .controls
                        = p.text_area :profile, rows: 10, style: "width: 330px"
                    -if flash[:notice] && flash[:notice]["profile"]
                      %span.error パスワードと一致させてください
                    .control-group
                      = p.label :kleshas, class: "control-label" do
                        %span.text 煩悩
                      .controls
                        = p.text_area :kleshas, rows: 10, style: "width: 330px"
                    -if flash[:notice] && flash[:notice]["profile"]
                      %span.error パスワードと一致させてください
                  %p philosophia一般利用規約 をご確認の上、「同意して登録する」をおしてください
                  .btn-area
                    = f.submit "更新する", class: 'btn'
          = render "users/shared/links"